out/
build/
*.exe
*.o
*.a
*.so
*.lib
*.dat
*.mk

.DS_Store
logs/
*.log
*.logs

/cmake-build-*
/.idea
/.cache/

/.vscode/
/VS/
/idea/
*.swp
*.swap
*.buffer

compile_commands.json
.ycf_conf_extra.py
.clang
lib/raw
lib/built
